@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với website</h1>
    <p>Bạn có thể tìm kiếm và mua sắm với những chiếc bàn phím cơ tuyệt đẹpp !</p>
</div>
